
.sidebar{
  width:260px;
  background:#0d0d0d;
  border-right:1px solid #2a2a2a;
  padding:20px;
}

.logo{
  width:190px;
  margin-bottom:30px;
}

.menu{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.menu a{
  color:#cfcfcf;
  text-decoration:none;
  padding:14px;
  border-radius:12px;
  border:1px solid transparent;
  transition:.25s;
}

.menu a:hover{
  background:#181818;
  border-color:#d10000;
  box-shadow:0 0 15px rgba(209,0,0,.25);
  color:#fff;
}
