
:root{
  --bg:#050505;
  --sidebar:#0f0f10;
  --card:#131313;
  --border:#2b2b2b;
  --red:#d10000;
  --red-hover:#ff1a1a;
  --txt:#ffffff;
  --txt2:#b8b8b8;
}

body{
  margin:0;
  background:var(--bg);
  color:var(--txt);
  font-family:Inter,sans-serif;
}

*{
  box-sizing:border-box;
}
